[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = git@github.com:loganyu/whitelist-transfer-hook.git
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = git@github.com:loganyu/escrow-litesvm
[submodule "ephemeral-rollup"]
	path = ephemeral-rollup
	url = git@github.com:loganyu/ephemeral-rollup.git
